= form_for @director, validate: true do |f|
  -if @director.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            = t('application.can_not_be_saved')
          %ul
            -  @director.errors.each do |error|
              %li= error.full_message

  .form-group.mx-4
  = f.label :first_name, class: "form-label required"
  .div.w-25
    = f.text_field :first_name, autofocus: true, class: "form-control"

  .form-group.mx-4
  = f.label :last_name, class: "form-label required"
  .div.w-25
    = f.text_field :last_name, autofocus: true, class: "form-control"

  .row.mt-4
    .offset-3.col-3
      = link_to t('application.back'), directors_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag t('application.save'), class: "btn btn-outline-success btn-block"

- Modificamos el edit de app/views/directors:

%h1= t('application.editing_model', model: t('activerecord.modules.director.one'))

= render "form", director: @director

- Modificamos el index de app/views/directors:

%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.director.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_director_path, class: "btn btn-primary"

%table.table.table-striped
  %thead
    %tr
      %th= t('activerecord.attributes.director.first_name')
      %th= t('activerecord.attributes.director.last_name')
      %th
      %th
      %th

  %tbody
    - @directors.each do |director|
      %tr
        %td= director.first_name
        %td= director.last_name
        %td= link_to t('application.show'), director, class: "btn btn-info"
        %td= link_to t('application.edit'), edit_director_path(director), class: "btn btn-success"
        %td= link_to t('application.delete'), director, method: :delete, class: "btn btn-danger"